.essay {
  padding: 2rem;
  flex: 1.75;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 1rem 1rem 0rem 1rem;
  
}
.essay-content {
  font-size: 1.5em; /* Adjust as needed */
}



.essay p {
  margin-bottom: 1rem;
}

@media (max-width: 768px) {
  .essay {
    padding: 2rem;
    flex: 1.75;
    background-color: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

    
  }

}
