.form-container {
  max-width: 600px;

}

.input-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  border-radius: 25px;
  border: 2px solid #fff;
  overflow: hidden;
}

.form-input::placeholder {
  color:white;
}

.form-input {
  background: transparent;
  flex-grow: 1;
  border: none;
  padding: 10px 20px;
  font-size: 1.2em;
}

.form-button {
  padding: 10px 20px;
  border: none;
  border-radius: 0 25px 25px 0;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  font-size: 1em;
}

.form-button:hover {
  background-color: #0056b3;
}

.form-error {
  margin-top: 10px;
}
