.navbar {
  background-color: #446c3e;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 80px;
  align-items: center;
  padding: 0 2rem;
}

.left,
.center,
.right {
  flex: 1;
}

.left {
  text-align: left;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.brand {
  font-size: 2rem;
  font-family: 'Lucida Calligraphy', 'Times New Roman', serif;
  font-weight: bold;
  color: #ff7f50;
}

.nav {
  display: flex;
  gap: 1rem;
  align-items: flex-end;
  justify-content: flex-end;
}
