.greeting {
    text-align: center;
    margin-bottom: 1rem;
    padding: 1rem;
    margin: 0 auto;
    max-width: 800px;
  }
  
  .greeting h1 {
    font-size: 2rem;
    margin-bottom: 0.5rem;
  }
  
  .greeting p {
    font-size: 1.2rem;
  }
  
